.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
  background-image: linear-gradient(270deg, transparent, rgba(102, 150, 226, 0.65) 0%, rgba(226, 120, 102, 0.65)100%),
                    url("assets/cover2.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.explore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.container3 button {
  height: 125px;
  width: 125px;
  text-transform: rotate(45deg);
  box-shadow: 0px 3px 6px #00000029;
  border: 0px;
  background: #A37169;
  font: normal normal 600 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  transition: background 0.3s;
}
.container3 button:hover {
  transform: scale(1.2) translateY(5px);
  transition: transform 0.3s;
}
.container3 .active {
  background: #E27866;
}
.explore-content {
  display: none;
  width: 40%;
  margin: 5%;
}
.explore-content h1 {
  font: normal normal 600 36px/40px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.explore-content p {
  width: 100%;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 7%;
}
.explore-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 40%;
}
.box1 {
  width: 43%;
  height: 40%;
  background-image: url("assets/picture1.png");
  background-size: cover;
  margin-right: 10%;
}
.box2 {
  width: 43%;
  height: 40%;
  background-image: url("assets/picture2.png");
  background-size: cover;
}
.box3 {
  width: 95%;
  height: 40%;
  background-image: url("assets/picture3.png");
  background-size: cover;
}
#mytext {
  transform: rotate(-45deg);
}
@media (max-width: 1600px) {
  .explore-images {
    height: 60%;
  }
}
@media (max-width: 1400px) {
  .explore-images {
    height: 60%;
  }
}
@media (max-width: 1000px) {
  .explore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .explore-content {
    display: none;
    width: 60%;
    height: 40%;
    margin: 3%;
  }
  .explore-content h1 {
    font-size: 20px;
  }
  .explore-content p {
    font-size: 12px;
  }
  .explore-images {
    height: 40%;
  }
}
@media (max-width: 800px) {
  .container3 button {
    font-size: 12px;
  }
  .tabs {
    height: 60%;
    width: 80px;
  }
  .tabs button {
    height: 80px;
    width: 80px;
  }
  .explore-images {
    height: 50%;
    width: 65%;
  }
  .bo1, .box2, .box3 {
    background-size: cover;
    object-fit: cover;
  }
}
@media (max-width: 650px) {
  .explore {
    height: 90%;
  }
}
@media (max-width: 570px) {
  .explore {
    height: 95%;
    width: 90%;
  }
  .tabs {
    height: 60%;
    width: 80px;
  }
  .explore-images {
    height: 45%;
    width: 70%;
  }
}
@media (max-width: 400px) {
  .explore-images {
    height: 35%;
    width: 70%;
  }
}
