.container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
  background: #6696E2;
}
.pricing {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  height: 80%;
}
.pricing-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 5%;
}
.pricing-options p {
  text-align: center;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.line4 {
  width: 65px;
  height: 47px;
  border-bottom: 2px solid #41D395;
  position: relative;
  margin-bottom: 4%;
}
.basic {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  width: 340px;
  height: 420px;
  align-items: center;
  background: #1C1C1C;
  border-radius: 5px;
}
.basic1 {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  width: 340px;
  height: 460px;
  align-items: center;
  background: #1C1C1C;
  border-radius: 5px;
}
.pricing .basic1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font: normal normal normal 94px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 0;
  margin: 30px;
}
.pricing .basic1 h5 {
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #86878B;
}
.pricing .basic h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font: normal normal normal 94px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 0;
  margin: 30px;
}
.pricing .basic h5 {
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #86878B;
  margin-bottom: 10px;
}
.pricing .basic1 h5 {
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #86878B;
  margin-bottom: 10px;
}
.dollar {
  transform: translateY(20px);
  font: normal normal normal 36px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.pricing .basic h3 {
  background: #1C1C1C;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.pricing .basic1 h3 {
  background: #1C1C1C;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.basic-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 320px;
  background: #FFFFFF;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pricing .basic .basic-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pricing .basic1 .basic-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.class1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #86878B;
}
.green {
  height: 6px;
  width: 100%;
  background: #41D395;
}
.green1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background: #41D395;
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .pricing {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 1225px) {
  .basic {
    width: 280px;
    height: 360px;
  }
  .basic1 {
    width: 280px;
    height: 400px;
  }
  .basic1 .green1 {
    font-size: 12px;
  }
  .basic-list ul li {
    font-size: 12px;
  }
  .container6 .pricing .basic h1 {
    font-size: 80px;
  }
  .container6 .pricing .basic1 h1 {
    font-size: 80px;
  }
  .container6 .pricing .basic h3 {
    font-size: 16px;
  }
  .container6 .pricing .basic1 h3 {
    font-size: 16px;
  }
}
@media (max-width: 1020px) {
  .basic {
    width: 240px;
    height: 320px;
  }
  .basic1 {
    width: 240px;
    height: 360px;
  }
  .pricing-options h1 {
    font-size: 24px;
  }
  .pricing-options p {
    font-size: 12px;
  }
}
@media (max-width: 860px){
.container6 {
  height: 1300px;
}
.pricing {
  align-items: flex-start;
  row-gap: 15px;
  }
}
@media (max-width: 575px){
.container6 {
  height: 1350px;
  }
  .feedback-header h1{
    text-align: center
  }
  .pricing-options h1 {
    font-size: 20px;
  }
}
